/* random comment */

.gif-grid{
    margin-top: 30px;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
}

.search-bar-wrapper{
    background-color:#1A2838;
    height: 100%;
}

.search-bar{
    margin: 40px;
    padding-bottom: 35px;
    text-align: center;
}


.tenor-gif-embed{
    width: 100%;
}
