
/*configure gifd display*/
.gif-grid{
    margin-top: 30px;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 40px;
}

.tenor-gif-embed{
    width: 100%;
}

/*configure background*/
.search-bar-wrapper{
    background-color:#1A2838;
    height: 100%;
}

/*configure searh buttons*/
.search-bar{
    text-align: center;
    padding: 10px;
    align-content: center;
}

.search-bar-item{
    margin-top: 7px;
    margin-bottom: 14px;
}

.keyword{
    margin-top: 7px;
}
.col-md-4 form{
    display: inline;
}

