/* random comment */
 
.gif-grid{
    margin-top: 30px;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 40px;
}

.search-bar-wrapper{
    background-color:#1A2838;
    height: 100%;
}

.search-bar{
    margin: 40px;
    text-align: center;
    padding: 10px;
    align-content: center;
}

.search-bar form{
    display: inline;
}

.tenor-gif-embed{
    width: 100%;
}

